{% extends "layout.html" %}

{% block "content" %}
<table>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.name }} | {{ issue.id }} - {{ issue.created_at|date }}</td>
            <td>
                {% if issue.cost == 1 %}
                <i class="ramen"></i>
                {% elif issue.cost == 2 %}
                <i class="ramen"></i> <i class="ramen"></i>
                {% elif issue.cost == 3 %}
                <i class="ramen"></i> <i class="ramen"></i> <i class="ramen"></i>
                {% elif issue.cost == 4 %}
                <i class="ramen"></i> <i class="ramen"></i> <i class="ramen"></i> <i class="ramen"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
