{% extends "layout_admin.html" %}

{% block "content" %}


<div class="upload_region">
    <div class="instruction">
        <p>Click here to upload an image</p>
        <p>OR</p>
        <p>Paste on the page to upload</p>
    </div>
    <div class="preview">
        <img src="" id="image_preview"/>
    </div>
    <input type="file" id="upload_image"/>
</div>

<form method="post" action="{% url "image-upload" %}" id="upload_form">
    {% csrf_token %}
    <input type="hidden" name="base64_image"/>
    <input type="submit" class="btn" value="Save image"/>

</form>

<table>
    <thead>
        <tr>
            <th>File</th>
            <th>Size</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td class="click-to-copy">{{ image.uploaded_file.url }}</td>
            <td>{{ image.uploaded_file.size }}</td>
            <td>{{ image.created_at }}</td>
            <td><a href="{{ image.uploaded_file.url }}" target="_blank">preview</a></td>
            <td><a href="#" onclick="return confirm('Are you sure to delete this image?')">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="notifications top-right">
</div>

{% endblock %}

{% block "extra_js" %}
<script>

(function(){

    function initPaste(onload_callback) {

        document.addEventListener('paste', function(event){

            var items = (event.clipboardData || event.originalEvent.clipboardData).items;

            for (index in items) {

                var item = items[index];

                if (item.kind === 'file') {
                    var blob = item.getAsFile();
                    var reader = new FileReader();
                    reader.onload = onload_callback;
                    reader.readAsDataURL(blob);
                }

            }
        });
    }

    function initFileSelect(onload_callback) {
        document.querySelector('#upload_image').addEventListener('change', function(event){
            var reader = new FileReader();
            reader.onload = onload_callback;
            reader.readAsDataURL(event.target.files[0]);
            event.target.value = '';
        });
    }

    function initUploadRegion() {
        var onload_callback = function(event){
            document.querySelector('#upload_form input[name="base64_image"]').value = event.target.result;
            document.querySelector('#image_preview').setAttribute('src', event.target.result);
            document.querySelector('.upload_region').classList.add('preview');
        }
        initPaste(onload_callback);
        initFileSelect(onload_callback);
    }

    function initCopy() {

        function hideNotification(e) {
            e.target.style.display = 'none';
        }

        document.querySelectorAll(".click-to-copy").forEach(function(el){

            el.addEventListener('click', function(e) {

                window.getSelection().selectAllChildren(e.target);

                var notification = document.createElement('div');
                notification.classList.add('notification');

                try {
                    var copy_result = document.execCommand('copy');

                    if (copy_result) {
                        notification.innerHTML = 'Copied!';
                    } else {
                        notification.innerHTML = 'Unable to copy!';
                    }
                } catch (err) {
                    notification.innerHTML = 'Unsupported Browser to copy!';
                }

                document.querySelector('.notifications').appendChild(notification);
                notification.addEventListener('click', hideNotification);
            });

        });

    }

    initUploadRegion();
    initCopy();

})();
</script>
{% endblock %}
