{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>Гоймондоо</title>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body>

    <div class="header-wrapper">
        <div class="header">
            <ul class="menu">
                <li><a href="{% url "issues-list"%}" class="logo">Гоймондоо</a></li>
                <li><a href="{% url "issues-list" %}" {% if request.resolver_match.url_name == "issues-list" %}class="active"{% endif %}>Гоймондоо</a></li>
                <li><a href="{% url "lesson-list" %}" {% if request.resolver_match.url_name == "lesson-list" %}class="active"{% endif %}>Бэлэн гоймон</a></li>
                <li><a href="#">Гоймонд дурлагсад</a></li>
            </ul>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {% block "content" %}{% endblock %}
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer">
            <p>Амжилт хүсье!</p>
            <p>2019 он</p>
            <p>python.noodle.20k at gmail.com</p>
        </div>
    </div>

</body>
<html>
